html, body{
    height: 100%;
}

#Home{
    background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("/images/1800.jpg");
}
#Negotiating{
    background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("/images/Goose_Honk.webp");
}
#Grooming{
    background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("/images/goosewalk.jpg");
}
#About{
    background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("/images/gooseanatomy.jpg");
}
#Contact{
    background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25)), url("/images/phonebooth.jpg");
}

.parallax {
    /* Set a specific height */
    min-height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }