/* Sagan Foster April 22 */

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav{
    display: block;
}
header{
    background-image: none;
}

body{
    background-image: url(../images/yogamobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

img{
    display: none;
}

main ul{
    list-style-image: url(../images/yogabullet.png);
    margin-left: 3em;
}

.schedule{
    border-collapse: collapse;
    border: solid black 1px;
    width: 100%;
    margin-bottom: .5em;
}
table td{
    border: solid black 1px;
    text-align: center;
}

address{
    margin-bottom: .5em;
}

footer{
    padding: .5em;
}



/*******************************
    Tablet View
*******************************/

@media (min-width: 641px){
    header{
        background-image:url(../images/lilyheader.jpg)
    }
    nav ul li{
        display: inline;
    }
    body{
        background-image: none;
        background-color: #F5F5F5;
    }
    img{
        display: block;
        max-width: 100%;
    }
    .float-right{
        float:right;
    }
}