@font-face {
    font-family: 'amatic';
    src: url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('../fonts/amaticsc-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:black;
    margin:0;
    position: relative;
    display: grid;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* ID */

#outerwrapper{
    position:fixed;
    background-color: black;
    background-image: repeating-radial-gradient(black, #121212 12%);
    background-size: 100vw+100vw;
    background-position: center;
    margin-top: 0!important;

    min-width: 98vw;
    min-height: 100vh;
}
#sjf-logo{
    width: 30px;
}



/* CLASS */

.contact{
    font-size: 1.5em;
}

.bad-script{
    font-family: 'Bad Script', 'Bradley Hand', 'Comic Sans MS', cursive;
}

.animatic{
    font-family: 'animatic', 'Bradley Hand', 'Comic Sans MS', cursive;
}


.center{
    margin:auto;
}

.neon-white{
    border: 1px solid rgb(255, 255, 255);
    border-radius:1em;
    background-color:rgba(24, 24, 24, 90%);
    box-shadow: inset 0 0 .2em rgb(255, 255, 255), 0 0 .2em rgb(255, 255, 255);

    color: rgb(255, 255, 255);
}
.neon-white:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius:1em;
    background-color:rgba(30, 30, 30, 90%);
    box-shadow: inset 0 0 .3em rgb(255, 255, 255), 0 0 .3em rgb(255, 255, 255);

    color: rgb(255, 255, 255);
}
.neon-white-active:active{
    border: 1px solid rgb(85, 85, 85);
    border-radius:1em;
    background-color:rgba(12, 12, 12, 90%);
    box-shadow: inset 0 0 .1em rgb(85, 85, 85), 0 0 .1em rgb(85, 85, 85);

    color: rgb(85, 85, 85);
}



/* HEADER */

header{
    width:95%;
    font-size:1.75em;
    position: sticky;
    margin: 0 auto 0 auto!important;
    top: 0;
    z-index:2;
}

nav{
    margin: 0;
    padding: 0;
    text-align:center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0;
    border: 0;
    padding: 0;
    display: inline;
}

header a{
    padding: 0 .3em 0 .3em;
    text-decoration: none;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: .5em!important;
    border-bottom-right-radius: .5em!important;
}



/* MAIN */

main{
    z-index: 1;
}
div{
    margin: .5em auto .5em auto!important;
    padding: 1% 1% 1.75% 1%;
    z-index: 1;
    position: relative;
    width: 50%;

    text-align: center;
}
div p{
    margin: 0;
    font-size: 1.25em;
    font-size: 2em;
}
div a{
    color: white;
}

div h1{
    margin-top: 0;
    font-size: 3em;
}

fieldset{
    border: none;
    font-size: 1.5em;
}

span{
    text-shadow: 0 -3px 0 rgba( 255, 0, 0, .25), 
                3px -1.5px 0 rgba( 255, 255, 0, .25), 
                3px 1.5px 0 rgba( 0, 255, 0, .25), 
                0 3px 0 rgba( 0, 255, 255, .25), 
                -3px 1.5px 0 rgba( 0, 0, 255, .25), 
                -3px -1.5px 0 rgba( 255, 0, 255, .25);
}



/* FOOTER */

img{
    width: 60px;
}

footer{
    width:95%;
    font-size:1.5em;
    margin: auto auto 0 auto!important;
    
    z-index:2;
}
footer div {
    width: 50%;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0 0 1px 0;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li{
    margin: 0;
    border: 0;
    padding: 0;
    display: inline;
}

footer a{
    padding: 45px .75em 0 .75em;
    text-decoration: none;
    border-top-left-radius: .5em!important;
    border-top-right-radius: .5em!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}